<p>add-user-form works!</p>
<div class="add-container">
  <a routerLink="/" class="back-button">
    <i class="fa fa-arrow-left"></i> All Users
  </a>
  <h2>Add User</h2>
  <form>
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" id="id" [(ngModel)]="user.id" name="id" class="form-control">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="user.name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" id="gender" [(ngModel)]="user.gender" name="gender" class="form-control">
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <input type="text" id="status" [(ngModel)]="user.status" name="status" class="form-control">
    </div>
    <button (click)="saveChanges()" class="btn btn-primary">Save Changes</button>
  </form>
</div>
